body {
    font-family: Arial, sans-serif;
  }
  
  header, nav, main, footer {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: blue;
  }
  .project-card {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
  }
  .project-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  